<html>
  <head>
    <title>GistJam</title>
    <script src="/javascripts/abcjs_basic_1.7-min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(window).load(function() {
      window.ABCJS.renderAbc("sheet", $("pre#gist")[0].innerHTML);
      window.ABCJS.renderMidi("midi", $("pre#gist")[0].innerHTML);
      window.ABCJS.renderAbc("fork-sheet", $("pre.fork")[0].innerHTML);
    });
    </script>
  </head>
  <body>
    <h1>GistJam</h1>
    <div style="float: left; width: 800px;">
    <img src='https://gravatar.com/avatar/<%= env['warden'].user.gravatar_id %>.png?r=PG&s=50' />
    <b><%= env['warden'].user[0]['login'] %></b> - <%= @gist['description'] %> <br />
    <% for f in [ @gist['files'] ].flatten(1) %>
      <% base_content = f.first[1]['content'] %>
      <pre id="gist"><%= base_content %></pre> <br />
      <div id="midi"></div>
      <div id="sheet"></div>
    </div>
    <% end %>
    <div style="float: right; width: 800px;">
    <% for u in @gist['forks'] %>
      <img src="<%= u['user']['avatar_url'] %>" width="50" />
      <b><%= u['user']['login'] %></b>
      <% current_fork = github_request("gists/#{u['id']}") %>
      <% fork_content = [ current_fork['files'] ].flatten(1)[0].flatten(1)[1]['content'] %>
      <% #diff_line = Differ.diff_by_line(base_content, fork_content) %>
      <pre class="fork"><%= fork_content %></pre>
      <div id="fork-sheet"></div>
    <% end %>
    </div>
    <hr />
    <!-- <%= @gist %> -->
  </body>
</html>
